.nav-bar-container {
    width: 100%;
    height: 3rem;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-sub-container {
    width: 80%;
    background-color: #555;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-left {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.nav-bar-right {
    background-color: #555;
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .8rem;
}

.nav-bar-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .8rem;
}

.nav-bar-item a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.img-car {
    width: 2rem;
    height: 2rem;
}

.nav-bar-item2 span span {
    font-weight: bold;
}

.nav-bar-item2 span {
    margin-left: 0.3rem;
}
