.search-container {
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-part1 {
    width: 25%;
    height: 80%;
    padding-bottom: 1rem;
    overflow: hidden;

}

.search-part2 {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-logo {
    height: 100%;
    width: 100%;
}

.search-input {
    width: 90%;
    height: 93%;
    border: 1px solid blue;
    outline: none;
    padding-left: 1.3rem;
    border-radius: .5rem;
}


.search-icon-container {
    width: 10%;
    height: 100%;
    background-color: #7dbb00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    transition: .7s;
}

.search-icon-container:hover {
    background-color: #b7ca91;

}

.search-img {
    width: 70%;
    height: 70%;
}

.search-part3 {
    width: 25%;
    height: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-panel {
    width: 2.5rem;
    height: 2.5rem;
}

.right-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-down {
    width: 1rem;
    height: 1rem;
}
